.idea
*.iml
build
vendor
obj*
debian/hd-idle
debian/debhelper-build-stamp
debian/files
debian/hd-idle.debhelper.log
debian/hd-idle.substvars
obj*
debian/hd-idle
debian/debhelper-build-stamp
debian/files
debian/hd-idle.debhelper.log
debian/hd-idle.substvars
obj*
debian/hd-idle
debian/debhelper-build-stamp
debian/files
debian/hd-idle.debhelper.log
debian/hd-idle.substvars