[Unit]
Description=hd-idle - spin down idle hard disks
Documentation=man:hd-idle(8)
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
Type=simple
EnvironmentFile=/etc/default/hd-idle
ExecStart=hd-idle $HD_IDLE_OPTS
Restart=on-failure

[Install]
WantedBy=multi-user.target
